.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') 珠峰商城
        ul.nav.navbar-nav
            li
                a(ui-sref="index",ng-show="!user",ng-class="{active:state == 'index'}") 首页
            li
                a(ui-sref="category",ng-show="user",ng-class="{active:state == 'category'}") 商品分类